@import url(https://fonts.googleapis.com/css?family=Montserrat);

.header {
    position: relative;
    padding: 0 2rem;
}

.navigation {
    width: 100%;
    height: 8vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 1.5rem;
    font: 'Montserrat';
    font-weight: bold;
}

.logo,
.links,
.profile {
    display: flex;
    gap: 2rem;
}

.logo {
    width: 150px;
    justify-content: left;
    color: inherit;
}

.profile {
    width: 150px;
    justify-content: right;
}

.user,
.guest,
.link {
    color: inherit;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.user,
.guest {
    padding: 10px 15px 10px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid;
    transition: 0.3s;
}

.guest:hover,
.user:hover {
    padding: 10px 30px 10px 40px;
    transition: 0.3s;
}

.guest {
    background-color: transparent;
}

.link {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: 0.3s;
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 40px;
    transition: 0.3s;
}