.container {
    display: grid;
    grid-template-columns: 220px 8fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas:
        "filter search"
        "filter recipes";
    max-height: 92vh;
    min-height: 92vh;
    overflow: hidden;
}

.filters {
    grid-area: filter;
    background-color: rgba(0, 0, 0, 0.2);
}

.search {
    grid-area: search;
}

.fade {
    display: block;
    position: fixed;
    width: 80vw;
    top: 145px;
    z-index: 2;
    height: 40px;
}

.recipes {
    display: flex;
    position: relative;
    padding: 44px;
    padding-right: 32px;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    column-gap: 30px;
    justify-content: center;
    grid-area: recipes;
    overflow: scroll;
}