html,
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8vh 92vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 12px;
  height: 0px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: rgb(222, 222, 222);
  transition: background-color 9999s ease-in-out 0s;
  color: inherit;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
  /* Firefox */
}

.loaderWrapper {
  opacity: 1;
  width: 100%;
  height: 92vh;
  position: absolute;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #3e3e3e;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

.input,
.textarea {
  color: inherit;
}

/* THEMES */

/* GREEN */

.greenPrimary {
  background-color: #1b4332;
  transition: 0.5s;
}

.greenSecondary {
  background-color: #40916c;
  transition: 0.5s;
}

.greenGradient {
  background: linear-gradient(150deg, #6bcca0 0%, #40916c 100%);
  transition: 0.5s;
}

.greenOpacity {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

/* BLUE */

.bluePrimary {
  background-color: #263653;
  transition: 0.5s;
}

.blueSecondary {
  background-color: #2a799d;
  transition: 0.5s;
}

.blueGradient {
  background: linear-gradient(150deg, #2a7b9d 0%, #18487e 100%);
  transition: 0.5s;
}

.blueOpacity {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

/* DARK */

.darkPrimary {
  background-color: #181818;
  transition: 0.5s;
}

.darkSecondary {
  background-color: #0c1821;
  transition: 0.5s;
}

.darkGradient {
  background: linear-gradient(150deg, #040404 0%, #161616 100%);
  transition: 0.5s;
}

.darkOpacity {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}

/* GOLD */

.goldPrimary {
  background-color: #242423;
  transition: 0.5s;
}

.goldSecondary {
  background-color: #f77f00;
  transition: 0.5s;
}

.goldGradient {
  background: linear-gradient(150deg, #b55519 0%, #d59958 100%);
  transition: 0.5s;
}

.goldOpacity {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}

/* PURPLE */

.purplePrimary {
  background-color: #3c096c;
  transition: 0.5s;
}

.purpleSecondary {
  background-color: #8b2ed7;
  transition: 0.5s;
}

.purpleGradient {
  background: linear-gradient(35deg, #d4a3fa 0%, #9d4edd 100%);
  transition: 0.5s;
}

.purpleOpacity {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}